html,body{
  width: 100%;
  height: 100%;
  margin: 0; 
  padding: 0; 
  border: solid dodgerblue;
  border-width: 2px;
  overflow:hidden;
  display:block;
  box-sizing: border-box;
}
.contain {
  background-color:rgb(187, 187, 159);
  height: 1000px;
}
.navbar{
  border-bottom: 5px solid dodgerblue;
}
.category{
  border: 5px solid crimson;
  margin-top: 170px;
  margin-left: 20px;
  width: 98%;
  display: flex;
  background-color:#292b2c;
}
#product-name{
  color: crimson;
  font-size: 1.4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 17px;
  padding-left: 30px;
}
#product-price{
  color: crimson;
  font-size: 1.4rem;
  padding-top: 17px;
  padding-left: 90rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.list-contain{
  display: flex;
}
.list{
  border: 5px solid crimson;
  border-bottom:0px;
  border-top:0px;
  border-right: 0px;
  width: 98%;
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: crimson;
  background-color: white;
}
.list p{
  border-bottom: 5px solid crimson;
  font-size: 1.2rem;
  padding-left: 30px;
}
.list-price{
  border: 5px solid crimson;
  border-bottom:0px;
  border-top:0px;
  width: 98%;
  margin-right: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: crimson;
  background-color: white;
}
.list-price p{
  border-bottom: 5px solid crimson;
  font-size: 1.2rem;
  padding-left: 46rem;
}